extends ../layout

block content
  h1 Books
  for books in allBooks
    .row
      .two.columns
        a(href='/books/#{books.id}', <='', a='')
          img(src= books.books_url)
      .eight.columns
        h4.books_title #{books.title}
        h5.authors By: #{books.authors}
        h6.books_desc #{books.description}
      .two.columns  
        h6.books_genre Language: #{books.genre}
      
